/* フォント */
.biz-udpmincho-regular {
    font-family: "BIZ UDPMincho", serif;
    font-weight: 400;
    font-style: normal;
}
.biz-udpgothic-regular {
    font-family: "BIZ UDPGothic", serif;
    font-weight: 400;
    font-style: normal;
}