/* フォント */
.sawarabi-mincho-regular {
    font-family: "Sawarabi Mincho", serif;
    font-weight: 400;
    font-style: normal;
}
.sawarabi-gothic-regular {
    font-family: "Sawarabi Gothic", serif;
    font-weight: 400;
    font-style: normal;
}
